<div class="guide">
  <h2>Laipni lūgti Administratora Rokasgrāmatas sadaļā!</h2>
  <h3>Kā uzstādīt web lapu Amazon serverī</h3>
  <ol>
    <li>Vispirms jādodas uz <a href="https://aws.amazon.com/s3/">Amazon servera mājaslapu</a></li>
    <li>Jāreģistrējas – klikšķina uz Sign Up</li>
    <li>Izvēlas free Amazon Web Services account</li>
    <li>Services izvēlnē klikšķina uz S3</li>
    <li>Jaunajā logā izvēlas Create bucket</li>
    <li>Norāda bucket vārdu un reģionu</li>
    <li>Tālāk atzīmē Permissions jeb atļaujas ja vajadzīgs</li>
    <li>Klikšķina uz Create Bucket</li>
    <li>Pēc novadīšanas uz S3 lapu, izvēlas Bucket name, ko tikko uztaisīja</li>
    <li>Iet uz sadaļu propeties jeb īpašības.</li>
    <li>Izvēlas Static website hosting</li>
    <li>Aizpilda laukus ievadot faila nosaukumu, kas atbilst index.html</li>
    <li></li>
    <li></li>
    <li></li>
  </ol>
</div>
