
<div class="guide">

  <h2>
    Laipni Lūgti Lietotāja Rokasgrāmastas sadaļā!
  </h2>

  <p>
    toDoApp ir vienas lapas tīmmekļa vietne kas domāta sarkastu veidošanai, katra lietotāja vajadzībām. Veidojiet plānus, iepirkumu sarakstus, sienas plānus, aktivitāšu listi, kontaktu adreses un nummurus un jebko citu, kas palīdzēs ikdienā organizēt vai/un atgādināt sev par svarīgām vietām/lietām/notikumiem.</p>
  <p>Lai varētu lietot toDoApp nepieciešams doties uz saiti:</p>
  <p>http://investments-and-loans-bucket.s3-website-eu-west-1.amazonaws.com/register-login. </p>

  <p>Vispirms jāpiereģistrējas. Reģistrācija ir ātra un vienkārša.</p>
    Izdomājiet segvārdu(nick) jeb lietotājvārdu(username) un ievadiet to, pēc tam ievadiet vēlamo paroli, centieties to veidot pēc iespējas drošāku, pietiekami kompleksu.
  <p>Pēc tam Spiediet pogu Sign up un Jūs esat ielogojies sistēmā.</p>
  <p>Lapas augšējā daļā jūs redzat navigāciju. Vispirms ir sadaļa toDoApp, kur arī atrodieties ielogojoties.</p>
<p>Tad seko sadaļa sarakstu skats. Šeit būs attēlota informācija par lietotāja izveidotajiem sarakstiem, lietotājs ērti var izvēlēties ar kuru no esošajiem sarakstiem darboties.</p>
    <p>Tad ir lietotāja rokasgrāmata jeb kā darboties ar toDoApp.</p>
    <p>Tad seko sadaļa administratora rokasgrāmata, kas satur tehnisku informāciju istrādātāju atbalstam.</p>
<p>oDoApp – kā veidot sarakstu</p>
<p>Tas ir vienkārši:</p>
<p>1. Zilajā laukā ar tekstu “Add your text here” ir jāievada teksts, ko vēlies ievietot sarakstā.</p>
<p> 2. Spied pogu Save.</p>
<p> 3. Apskati pievienoto tekstu sarakstā.</p>
<p> toDoApp – kā darboties ar sarkasta vienībām.</p>
<p>Blakus saraksta vienībai pa labi atrodas trīs pogas. Duplicate jeb dublikāts, delete jeb dzēst, kā arī edit jeb rediģēt.
    Duplicate nokopēs esošo ierakstu un pievienos to sarakstam.
    Savukārt edit – ļaus rediģēt tekstu, kas nav iespējams pirms pogas piespiešanas.
  Delete nodzēsīs sarakstu.</p>


</div>
